/* colors: 
light blue: acf2e4
pink: ff8989
light green: 9cd696
dark green: 25542d
purple: a55d85 */

body {
	text-align: center;
	font-family: "Avant Garde", "Century Gothic", "Verdana";
	background-color: #acf2e4;
	color: #25542d;
	margin: 0;
}

#header {
	background-color: #ff8989;
	padding: 40px 40px 0px 40px;
	margin: 0;
}

ul {
    list-style-type: none;
	text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff8989;
    width: 100%;
}

li {
	display: inline;
}

#comicBar {
	position: fixed;
	bottom: 0;
}

li a {
    display: inline-block;
    color: #22542d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ee7878;
}

li a.inactive {
	color: #ff8989;
	background-color: #ff8989;
}

#title {
	font-size: 150%;
	font-weight: bold;
}

#comic {
	border-style: solid;
	border-width: 20px;
	border-color: #9cd696;
}

#description {
	margin-bottom: 100px;
}